<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEg86U9w3skwUxctQQ-ydBKuraC75Ta0s</string>
	<key>GCM_SENDER_ID</key>
	<string>484587939568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echowater.echoflask.uat</string>
	<key>PROJECT_ID</key>
	<string>echo-water</string>
	<key>STORAGE_BUCKET</key>
	<string>echo-water.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484587939568:ios:d47600c1688ea369790435</string>
</dict>
</plist>